<nav class="nav col-xs-12">
    <div class="menu">
        <ul class="menu-list">
            <li class="menu-item"><a href="{{ path('homepage') }}">Home</a></li>
            <li class="menu-item"><a href="{{ path('registration') }}">Sign up</a></li>
        </ul>
    </div>
</nav>