{% extends 'SmartworkoutBundle::base.html.twig' %}

{% block stylesheets %}
    <link href="bundles/smartworkout/css/homepage.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="block">
        
    </div>
{% endblock %}