<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <body>
        <div class="main-page">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>