<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>

        {% include 'SmartworkoutBundle::layout/head/styles.html.twig' %}
    </head>
    <body>
        <div class="main-page">
            {% include 'SmartworkoutBundle::layout/navigation.html.twig' %}
            {% block content %}{% endblock %}
            {% include 'SmartworkoutBundle::layout/footer.html.twig' %}
        </div>
    </body>
</html>